footer {
  background-color: #d9d9d9;
  height: 190px;
  width: 100%;
  justify-items: center;
  bottom: 0;
  margin-top: auto;
}

footer a {
  text-decoration: none;
  font-weight: normal;
  transition: 0.5s;
}

footer a:hover {
  font-weight: bold;
  text-decoration: underline;
  padding: 0 30px;
  transition: 0.5s;
}

.footerinfo {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 30px;
}

.stubic {
  width: 2px;
  height: 35px;
  background-color: #0d0d0d;
}
