main {
  background-color: white;
  justify-items: center;
  max-width: 1300px;
  margin-top: 100px;
}

.homeHero {
  width: 100%;
  text-align: left;
}

.homeHero h1 {
  font-size: 96px;
  text-transform: uppercase;
  width: 900px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -50px;
  border-radius: 0 20px;
  z-index: 1;
  position: relative;
}

.hero {
  width: 100%;
  height: 100%;
  border-radius: 45px;
}

.slikaHero {
  background-color: cadetblue;
  width: 100%;
  height: 600px;
  margin-top: 10px;
  border-radius: 45px;
  z-index: -99;
}

.homeHero p {
  font-size: 32px;
  margin-top: -20px;
}

.homeHero button {
  margin-top: 50px;
  width: 196px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  transition: 0.5s;
  border: solid black 1px;
  text-align: center;
}

.homeHero button:hover {
  background-color: #f6f6f6;
  color: black;
}

.homeAbout {
  justify-items: center;
  text-align: center;
}

.homeAbout p {
  text-align: center;
}

h2 {
  margin-top: 250px;
  margin-bottom: 100px;
}

.homeAbout h2 {
  margin-bottom: 50px;
  margin-top: 150px;
}

.stub {
  justify-items: center;
  margin: 0 20px;
}

.stubVeci {
  width: 351px;
  height: 311px;
  border-radius: 30px;
  background-color: #f6f6f6;
  padding: 30px;
  justify-items: center;
  transition: 0.5s;
}

.stubVeci:hover {
  background-color: #e6e6e6;
  transition: 0.5s;
}

.aboutIcon {
  width: 125px;
  height: 125px;
  /* background-color: aquamarine; */
  margin-bottom: 30px;
}

.locationOpis,
.modernityOpis,
.balanceOpis {
  justify-items: center;
}

.stubovi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 70px;
  align-items: center;
}

.stub h3 {
  margin-bottom: 0;
}

.stubManji {
  width: 65px;
  height: 234px;
  background-color: #f0f0f0;
  margin-top: 40px;
  border-radius: 10px;
}

.aboutusTxt {
  width: 50%;
  margin-bottom: 30px;
}

a {
  font-size: 24px;
  font-weight: bold;
}

.kartice {
  display: flex;
  margin-bottom: 200px;
  justify-items: left;
}

.livingopKartica {
  background-color: #f6f6f6;
  border-radius: 30px;
  width: 510px;
  height: 525px;
  padding: 30px;
  justify-items: left;
  margin: 0 20px;
  text-align: left;
}

.livingopSlika {
  width: 450px;
  height: 260px;
  border-radius: 30px;
  background-color: aquamarine;
  margin-bottom: 20px;
}

.livingopSlika img {
  border-radius: 30px;
}

.living h2 {
  margin-top: 250px;
  text-align: center;
}

button {
  background-color: #d9d9d9;
  width: 60px;
  height: 55px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  /* margin-top: 20px; */
  transition: 0.5s;
  text-align: center;
}

button:hover {
  /* width: 20%; */
  transition: 0.5s;
}

.ikonica {
  width: 100%;
  height: 100%;
}

.livingopKartica p {
  margin-bottom: 20px;
}
